.pop-up {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index:100;
    background: rgba(2, 20, 39, 0.479);
    transition: all 1s;
    animation-name: backAppear;
    animation-duration: .7s;
    animation-timing-function: ease-out;
}

.pop-up__window {
    display: flex;
    justify-content: space-around;
    background: white;
    border-radius: 10px;
    width: 50rem;
    height: 50rem;
    animation-name: appear;
    animation-duration: .7s;
    animation-timing-function: ease-out; 
}

.pop-up__window a>span {
    display: none;
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: scale(0.1);
    }
    80% {
        opacity: 0.8;
        transform: scale(1.2);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }

}

@keyframes backAppear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}