.main__text p {
    font-size: 5rem;
}
.main__h{
    font-size: 5rem;
    color: rgb(255, 255, 255);
}
.main__text {
    vertical-align: center;
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}
.main__photo {
    width: 20vw;
    vertical-align: top;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

.main__content {
    width: 50vw;
}
.photo { 
    border: 10px solid rgba(255, 255, 255, 0.473);
    min-width: 150px;
    width: 25rem;
    height: auto;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    80% {
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

