.skillCard {
    width: 30rem;
    height: 50rem;
    border-radius: 10px;
    transition: transform 0.25s ease-out;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.skillCard h2 {
    text-transform: uppercase;
    font-size: 3rem;
}

.skillCard p {
    margin-top: 2rem;
    font-size: 3rem;
}
.skillCard:hover {
    transform: scale(1.05);
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.308)
}
.skillBlock {
    
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

img {
    height: 10rem;
    width: auto;
    margin-bottom: 1rem;
}

.javascript {
    height: 8rem;
}