@media screen and (max-width:1800px) {
    .about-me__info {
        flex-basis: 60%; 
    }
}

@media screen and (max-width:1350px) {
    .about-me__info {
        flex-basis: 50%; 
    }
}

@media screen and (max-width: 1250px) {
    .header {
        &__nav {
            display: none;
        }
        &--low {
            display: block;
        }
        &--fixed {
            z-index: 100;
            padding: 0;
            background: none;
        }
    }    
}

@media screen and (max-width: 1069px) {
    .pop-up-contacts__wrapper {
        max-width: 90%;
    }

    .main-section__heading {
        align-items: flex-start;
    }
    .about-me {
        &__info {
            flex-basis: 100%; 
            margin-top: 2rem;
        }

        &__photo {
            margin-right: 0;
            img {
                height: 30rem;
            }
        }
        &__wrapper {
            justify-content: center;
        }

        
        
    }

    .heading--2 {
        text-align: center;
        display: block;
    }

    .latest-works__btn {
        display: none;
    }
}


@media screen and (max-width: 700px) {
    .container {
        width: 100%;
        padding: 0 1rem;
    }

    .header--low {
        &__button {
            left: 2vw;
            &--close {
                left: 33vw;
            }    
        }

        &__list {
            &--active {
                left: -3vw;
                padding-left: 5vw;
                padding-top: 10rem;
            }
        }
    }

    #line-1 {
        transform: rotate(45deg) translateY(5px) translateX(6px);
    }
    
    #line-3 {
        transform: rotate(-45deg) translateY(-4px) translateX(5px);
    }

    html {
        font-size: 50%;
        overflow-x: hidden;
    }

    .footer__to-top {
        display: none;
    }

    .main-section {
        &__heading {
            font-size: 7rem;
            align-items: center;

        }

        &__sub-heading {
            font-size: 4rem;
        }
    }

    .lang-btns {
        bottom: 80px;
    }

}

@media screen and (max-width: 550px) {
    .pop-up-contacts__list--other-links {
        flex-direction: column;
        justify-content: space-between;
    }

    .pop-up-contacts__list--item-other {
        &:not(:last-child) {
            margin-bottom: 2rem;
        }
    }

    .pop-up-contacts__button {
        text-align: center;
    }

    .main-section {
        &__heading {
            align-items: flex-start;
        }
    }
}

@media screen and (max-width: 420px) {
    .header--low {
        &__button {
            left: 2vw;
            &--close {
                left: 55vw;
            }    
        }

        &__list {
            
            &--active {
                left: -50vw;
                padding-left: 60vw;
                padding-top: 10rem;
                min-width: 120vw;
            }
        }
    }

    
}

@media screen and (max-width: 330px) {
    html {
        font-size: 45%;
    }
}

@media screen and (max-height: 550px) {
    .main-section__heading {
        margin-top: 18vh;
    }
}

@media screen and (max-height: 550px) and ( max-width: 815px) {
    .main-section__heading {
        font-size: 6rem;
    }

    .main-section__sub-heading {
        font-size: 5rem;
    }
}