.App-Loading {
    background: white;
    height: 100vh;
    overflow: hidden;
}

.main-section {
    padding: 2rem 0;
    background: 
        linear-gradient(
        to right bottom, 
        rgba(rgb(42, 20, 240), 0.5),
        rgba(rgb(11, 233, 241)   , 0.5)
        ),
         url(../img/main-background-2.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    max-height: 100%;
    height: 100vh;
    &__heading {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        font-size: 8rem;
        color: rgb(255, 255, 255);
        margin-top: 30vh;
    }

    &__sub-heading {
        font-size: 6rem;
    }
}

.about-me-section {
    background: 
        linear-gradient(
        to right bottom, 
        rgba(17, 13, 51, 0.329),
        rgba(0, 102, 185, 0.329)
        ),
        url(../img/about-me-background.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    max-height: 100%;
    box-shadow: 0px 15px 50px 15px rgba(0, 0, 0, 0.425);
    position: relative;
    z-index: 5;
    padding: 10rem 0;

    &__heading {
        font-size: 7rem;
        margin-bottom: 10rem;
        background: linear-gradient(to right, rgba(231, 222, 255, 0.89), rgba(177, 202, 255, 0.774));
        color: #fff;
        background-clip: text;
        color: transparent;
        display: table;
    }
}

.skills-section {
    background: 
        linear-gradient(
        to right bottom, 
        rgba(24, 0, 209, 0.315),
        rgba(0, 175, 228, 0.315)
        ),
         url(../img/main-background-2.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    position: relative;
    z-index: 4;
    
    padding: 10rem 0;

    &__heading {
        font-size: 7rem;
        margin-bottom: 10rem;
        background: url(../img/main-background.jpg) 50% 50%;
        color: #fff;
        background-clip: text;
        color: transparent;
        display: table;
    }
}

.latest-works-section {
    background: 
        linear-gradient(
        to right bottom, 
        rgba(2, 0, 19, 0.315),
        rgba(0, 175, 228, 0.315)
        ),
         url(../img/latest-works-background.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    box-shadow: 0px -15px 50px 15px rgba(0, 0, 0, 0.425);
    position: relative;
    z-index: 5;
    padding: 10rem 0;
    &__heading {
        display: inline-block;
        padding: 5px 20px;
        font-size: 7rem;
        margin-bottom: 10rem;
        background: linear-gradient(to right, rgba(231, 222, 255, 0.89), rgba(177, 202, 255, 0.774));
        color: #fff;
        background-clip: text;
        color: transparent;
        display: table;
    }
}

.footer {
    background: 
        linear-gradient(
        to left bottom, 
        rgba(0, 0, 0, 0.705),
        rgba(23, 0, 65, 0.726)
        ),
        url(../img/main-background-2.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    padding: 2rem 0;

    &__text {
        color: rgb(97, 97, 97);
        font-size: 2rem;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-around;
    }

    &__to-top {
        width: 6rem;
        height: 6rem;
        border: none;
        position: absolute;
        right: -8rem;
        top: 0;
        background: url(../img/arrow-up.svg) no-repeat;
        background-position: 20% 50%;
        background-size: 90%;
        margin-left: 2rem;
        cursor: pointer;
        transition: all .5s;

        &:hover {
            background: url(../img/arrow-up-hover.svg) no-repeat;
            background-position: 20% 50%;
            background-size: 90%;
            transform: scale(1.1);
        }
        
    }

    &__wrapper {
        position: relative;
    }
}
