.latest-works {
    position: relative;

    &__items {
        max-height: 80rem;
        overflow-x: scroll;
        display: flex;
        justify-content: flex-start;
        &::-webkit-scrollbar { 
            width: 0;
        }
        scrollbar-width: none;
        overflow: -moz-scrollbars-none;
        -ms-overflow-style: none;

        scroll-behavior: smooth;
    }

    &__btn {
        height: 12rem;
        width: 12rem; 
        position: relative;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        transition: all .5s;
        position: absolute;
        top: 40%;

        &--left {
            background: rgba(0, 153, 255, 0.493) url(../img/left.svg) no-repeat;
            background-position: 20% 50%;
            background-size: 80%;
            left: 1.5%;
        }

        &--right {
            background: rgba(0, 153, 255, 0.493) url(../img/right.svg) no-repeat;
            background-position: 80% 50%;
            background-size: 80%;
            right: 1.5%;
        }

        &:hover {
            transform: scale(1.05);
            background-color: rgba(0, 47, 255, 0.493);
        }
    }

    &__direction-arrow {
        height: 70%;
        position: absolute;
        top: 2rem;
        right: 2.5rem;

    }

}

.card {
    min-width: 100%;
    display: inline-block;
    margin: 0 auto;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.589);
    overflow: hidden;
    display: flex;
    flex-direction: column;

    &:not(:last-child) {
        margin-right: 2rem;
    }
    
    &__img {
        max-width: 100%;
        &--wrapper {
            max-height: 80%;
            overflow: hidden;
        }
    }

    &__description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 16rem;
        transition: all .5s;
        &:hover{
            height: 50rem;
            width: 100%;  
        }

        &:hover .card__text{
            display: block;
        }
        &:hover .card__link--wrapper {
            display: flex;
            align-items: center;
        }
        
        
    }

    &__name {
        text-transform: uppercase;
        color: white;
        font-size: 6rem;
        text-align: center;
        
        
    }

    &__text {
        display: none;
        font-size: 4rem;
        color: white;
        text-align: center;
        margin-top: 1rem;
        transition: all .5s;
    }

    &__link {
        width: 4rem;
        height: 4rem;
        margin-left: .5rem;

        &--wrapper {
            display: none;
            margin-top: 1rem;
            color: white;
            font-size: 3rem;
        }

        &--img {
            transition: all .5s;
            width: 4rem;
            height: 4rem;
            &:hover {
                transform: scale(1.2);
            }
        }

        
    }
}