.about-me__comp {
    height: 100%;
}

.about-me__h {
    display: block;
    margin: 0;
    padding: 0;
    font-size: 5rem;
    color:  rgb(0, 162, 255);
    animation-name: moveInBottom;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

.about-me__content {
    margin-top: 10rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.about-me__text {
    width: 35vw;
    margin-right: 5rem;
    font-size: 4.5rem;
    text-align: left;
    color: rgb(21, 56, 109);
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

.map {
    width: 30vw;
    height: 50vh;
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(-10rem);
    }
  
    80% {
        transform: translateY(1rem);
    }
  
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    80% {
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}